.home div {
  text-align: center;
  font-size: 40px;
}

.explanation div {
  text-align: center;
  font-size: 20px;
}

.verification div {
  font-size: 20px;
}

.padlock div {
  text-align: center;
  font-size: 20px;
}

.lock-section {
  margin: 0 auto;
  background-image: url('padlock.png');
  background-repeat: no-repeat;
  background-size: contain;
  height: 250px;
  width: 250px;
}

.lock-section div:first-child {
  padding-top: 140px;
}

.lock-section div:last-child {
  padding-top: 30px;
}

.button-section {
  margin: 0 auto;
}

.message div {
  text-align: center;
  font-size: 20px;
}
.message {
  margin-top: 100px;
}
